In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r'C:\Users\yasme\Downloads\all_bikez_curated (1).csv')

C:\Users\yasme\AppData\Local\Temp\ipykernel_10824\499073035.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\yasme\Downloads\all_bikez_curated (1).csv')

In [3]:
df.shape

(38543, 17)

In [4]:
df.dtypes

Brand                   object
Model                   object
Year                    object
Category                object
Displacement (ccm)     float64
Power (hp)             float64
Engine cylinder         object
Engine stroke           object
Gearbox                 object
Fuel capacity (lts)    float64
Fuel system             object
Fuel control            object
Cooling system          object
Transmission type       object
Dry weight (kg)        float64
Wheelbase (mm)         float64
Seat height (mm)       float64
dtype: object

In [5]:
df.head(10)

,Brand,Model,Year,Category,Displacement (ccm),Power (hp),Engine cylinder,Engine stroke,Gearbox,Fuel capacity (lts),Fuel system,Fuel control,Cooling system,Transmission type,Dry weight (kg),Wheelbase (mm),Seat height (mm)
0,acabion,da vinci 650-vi,2011,Prototype / concept model,NaN,804.0,Electric,Electric,NaN,NaN,NaN,NaN,Liquid,Chain,420.0,NaN,NaN
1,acabion,gtbo 55,2007,Sport,1300.0,541.0,In-line four,four-stroke,6-speed,NaN,Turbo. KKK Acabion Extended,NaN,Liquid,NaN,360.0,NaN,NaN
2,acabion,gtbo 600 daytona-vi,2011,Prototype / concept model,NaN,536.0,Electric,Electric,NaN,NaN,NaN,NaN,Liquid,NaN,420.0,NaN,NaN
3,acabion,gtbo 600 daytona-vi,2021,Prototype / concept model,NaN,536.0,Electric,Electric,NaN,NaN,NaN,NaN,Liquid,NaN,420.0,NaN,NaN
4,acabion,gtbo 70,2007,Prototype / concept model,1300.0,689.0,In-line four,four-stroke,6-speed,NaN,Turbo. KKK Acabion Extended,NaN,Liquid,NaN,300.0,NaN,NaN
5,access,37 offroad e-scooter,2021,Scooter,NaN,1.1,Electric,Electric,Automatic,NaN,NaN,NaN,NaN,Chain,42.0,NaN,750.0
6,access,ams 3.20 supercross,2016,ATV,280.0,18.8,Single cylinder,four-stroke,Automatic,14.0,Carburettor,Overhead Valves (OHV),Air,Chain,225.0,NaN,NaN
7,access,ams 4.30 supermoto efi,2016,ATV,359.3,29.5,Single cylinder,four-stroke,Automatic,14.0,Injection. EFI,Overhead Cams (OHC),Air,Chain,236.0,NaN,NaN
8,access,ams 4.38 sm gear shift,2016,ATV,449.0,37.6,Single cylinder,four-stroke,5-speed,14.0,Carburettor,Overhead Cams (OHC),Air,Chain,236.0,NaN,NaN
9,access,ams 4.38 sx gear shift,2016,ATV,449.0,37.6,Single cylinder,four-stroke,5-speed,14.0,Carburettor,Overhead Cams (OHC),Air,Chain,236.0,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38543 entries, 0 to 38542
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Brand                38543 non-null  object
 1   Model                38515 non-null  object
 2   Year                 38543 non-null  object
 3   Category             38543 non-null  object
 4   Displacement (ccm)   37514 non-null  float64
 5   Power (hp)           26162 non-null  float64
 6   Engine cylinder      38527 non-null  object
 7   Engine stroke        38532 non-null  object
 8   Gearbox              32733 non-null  object
 9   Fuel capacity (lts)  31747 non-null  float64
 10  Fuel system          27893 non-null  object
 11  Fuel control         22032 non-null  object
 12  Cooling system       34322 non-null  object
 13  Transmission type    32912 non-null  object
 14  Dry weight (kg)      22534 non-null  float64
 15  Wheelbase (mm)       25530 non-null  float64
 16  Seat height (mm)     24225 non-null  float64
dtypes: float64(6), object(11)
memory usage: 5.0+ MB

In [7]:
df.isna().sum()

Brand                      0
Model                     28
Year                       0
Category                   0
Displacement (ccm)      1029
Power (hp)             12381
Engine cylinder           16
Engine stroke             11
Gearbox                 5810
Fuel capacity (lts)     6796
Fuel system            10650
Fuel control           16511
Cooling system          4221
Transmission type       5631
Dry weight (kg)        16009
Wheelbase (mm)         13013
Seat height (mm)       14318
dtype: int64

In [8]:
df.drop(columns=['Power (hp)', 'Fuel control', 'Dry weight (kg)', 'Wheelbase (mm)', 'Seat height (mm)'], inplace=True)

In [9]:
df.isna().sum()

Brand                      0
Model                     28
Year                       0
Category                   0
Displacement (ccm)      1029
Engine cylinder           16
Engine stroke             11
Gearbox                 5810
Fuel capacity (lts)     6796
Fuel system            10650
Cooling system          4221
Transmission type       5631
dtype: int64

In [10]:
df.head(10)

,Brand,Model,Year,Category,Displacement (ccm),Engine cylinder,Engine stroke,Gearbox,Fuel capacity (lts),Fuel system,Cooling system,Transmission type
0,acabion,da vinci 650-vi,2011,Prototype / concept model,NaN,Electric,Electric,NaN,NaN,NaN,Liquid,Chain
1,acabion,gtbo 55,2007,Sport,1300.0,In-line four,four-stroke,6-speed,NaN,Turbo. KKK Acabion Extended,Liquid,NaN
2,acabion,gtbo 600 daytona-vi,2011,Prototype / concept model,NaN,Electric,Electric,NaN,NaN,NaN,Liquid,NaN
3,acabion,gtbo 600 daytona-vi,2021,Prototype / concept model,NaN,Electric,Electric,NaN,NaN,NaN,Liquid,NaN
4,acabion,gtbo 70,2007,Prototype / concept model,1300.0,In-line four,four-stroke,6-speed,NaN,Turbo. KKK Acabion Extended,Liquid,NaN
5,access,37 offroad e-scooter,2021,Scooter,NaN,Electric,Electric,Automatic,NaN,NaN,NaN,Chain
6,access,ams 3.20 supercross,2016,ATV,280.0,Single cylinder,four-stroke,Automatic,14.0,Carburettor,Air,Chain
7,access,ams 4.30 supermoto efi,2016,ATV,359.3,Single cylinder,four-stroke,Automatic,14.0,Injection. EFI,Air,Chain
8,access,ams 4.38 sm gear shift,2016,ATV,449.0,Single cylinder,four-stroke,5-speed,14.0,Carburettor,Air,Chain
9,access,ams 4.38 sx gear shift,2016,ATV,449.0,Single cylinder,four-stroke,5-speed,14.0,Carburettor,Air,Chain

In [11]:
df.dropna(subset=['Model','Displacement (ccm)','Engine cylinder','Engine stroke'], inplace=True)

In [12]:
df.shape

(37470, 12)

In [13]:
df.isna().sum()

Brand                     0
Model                     0
Year                      0
Category                  0
Displacement (ccm)        0
Engine cylinder           0
Engine stroke             0
Gearbox                5422
Fuel capacity (lts)    5776
Fuel system            9612
Cooling system         3973
Transmission type      5083
dtype: int64

In [14]:
df['Gearbox'].value_counts()

6-speed                 11884
5-speed                 10986
Automatic                5617
4-speed                  2790
3-speed                   468
1-speed                   113
2-speed                    83
4-speed with reverse       49
7-speed                    22
100-speed                  15
2-speed automatic           8
5-speed with reverse        5
10-speed                    4
8-speed                     2
6-speed with reverse        1
3-speed automatic           1
Name: Gearbox, dtype: int64

In [15]:
df['Gearbox'].fillna(df['Gearbox'].mode()[0], inplace=True)

In [16]:
df['Fuel capacity (lts)'].value_counts()

17.00    1385
14.00    1233
12.00    1088
15.00    1057
16.00     985
         ...
22.10       1
5.75        1
21.19       1
8.75        1
18.35       1
Name: Fuel capacity (lts), Length: 443, dtype: int64

In [17]:
df['Fuel capacity (lts)'].fillna(df['Fuel capacity (lts)'].mean(), inplace=True)

In [18]:
df['Fuel system'].value_counts()

Carburettor                                                     7565
Injection                                                       5092
Injection. EFI                                                   718
Injection. PGM-FI                                                267
Injection. Electronic Sequential Port Fuel Injection (ESPFI)     262
                                                                ...
Carburettor.  Keihin CVK32 x 4                                     1
Injection. Fuel Injection; (2) 36mm Mikuni throttle bodies         1
Injection. DFI; (2) 36mm Mikuni throttle bodies                    1
Carburettor. 22mm Mikuni slide/needle                              1
Carburettor. Bing 19mm (1/19/36)                                   1
Name: Fuel system, Length: 2908, dtype: int64

In [19]:
df['Fuel system'].fillna(df['Fuel system'].mode()[0], inplace=True)

In [20]:
df.isna().sum()

Brand                     0
Model                     0
Year                      0
Category                  0
Displacement (ccm)        0
Engine cylinder           0
Engine stroke             0
Gearbox                   0
Fuel capacity (lts)       0
Fuel system               0
Cooling system         3973
Transmission type      5083
dtype: int64

In [21]:
df.dropna(subset=['Cooling system','Transmission type'], inplace=True)

In [22]:
df.isna().sum()

Brand                  0
Model                  0
Year                   0
Category               0
Displacement (ccm)     0
Engine cylinder        0
Engine stroke          0
Gearbox                0
Fuel capacity (lts)    0
Fuel system            0
Cooling system         0
Transmission type      0
dtype: int64

In [23]:
df.shape

(29818, 12)

# Brand column

In [24]:
df['Brand'].unique()

array(['access', 'adiva', 'adler', 'adly', 'aeon', 'aermacchi', 'agrati',
       'ajp', 'ajs', 'alfer', 'alligator', 'allstate', 'alphasports',
       'amazonas', 'american eagle', 'american ironhorse', 'aprilia',
       'apsonic', 'arch', 'arctic cat', 'ardie', 'ariel', 'arqin',
       'aspes', 'atk', 'atlas honda', 'aurora', 'avanturaa choppers',
       'avinton', 'azel', 'bajaj', 'balkan', 'bamx', 'baotian', 'barossa',
       'beeline', 'benelli', 'bennche', 'beta', 'better',
       'big bear choppers', 'big dog', 'bimota', 'bintelli',
       'black douglas', 'blata', 'bluroc', 'bmc choppers', 'bmw',
       'boom trikes', 'borile', 'boss hoss', 'bpg', 'bridgestone',
       'britten', 'brixton', 'brough superior', 'brudeli', 'bsa',
       'buccimoto', 'buell', 'bullit', 'bultaco', 'cagiva',
       'california scooter', 'can-am', 'capirelli', 'cargobike', 'casal',
       'caterham', 'ccm', 'cectek', 'cf moto', 'ch racing', 'chang-jiang',
       'cheney', 'christini', 'cleveland', 'clipic', 'cobra',
       'combat motors', 'confederate', 'cosmos muscle bikes',
       'coventry eagle', 'cpi', 'cr&s', 'crocker', 'csc motorcycles',
       'csr', 'cushman', 'cz', 'daelim', 'dafier', 'dafra', 'dandy',
       'dayang', 'dayun', 'db motors', 'demak', 'derbi', 'derringer',
       'df motor', 'dfang', 'di blasi', 'diamo', 'dihao', 'dinamo',
       'dinli', 'dirico', 'dkw', 'dnepr', 'docker', 'donghai', 'drysdale',
       'ducati', 'dürkopp', 'e-ton', 'eagle-wing', 'ecosse', 'enfield',
       'erik buell racing', 'excelsior', 'factory bike', 'falcon',
       'fantic', 'fb mondial', 'fgr', 'fischer', 'fuego', 'g&g',
       'garelli', 'gas gas', 'geely', 'genata', 'generic',
       'genuine scooter', 'geon', 'gg', 'ghezzi-brian', 'giantco',
       'gilera', 'goes', 'gogo moto', 'grc moto', 'gymotor', 'hamachi',
       'hanway', 'haojin', 'haojue', 'harley-davidson', 'hartford', 'hdm',
       'headbanger', 'herald', 'hercules', 'hero', 'highland',
       'hildebrand-wolfmüller', 'hm', 'hodaka', 'honda', 'horex',
       'hp power', 'hunter', 'husaberg', 'husqvarna', 'hyosung',
       'ice bear', 'indian', 'irbis', 'italika', 'italjet', 'italmoto',
       'izh', 'izuka', 'james', 'janus', 'jawa', 'jawa-cz', 'jialing',
       'jianshe', 'jincheng', 'jinlun', 'johnny pag', 'jonway', 'jordan',
       'jotagas', 'junak', 'k2o', 'kasinski', 'kawasaki', 'keeway',
       'kentoya', 'kinetic', 'kinroad', 'kreidler', 'ksr', 'ktm', 'kymco',
       'lambretta', 'lauge jensen', 'laverda', 'lehman trikes', 'lem',
       'leonart', 'lexmoto', 'lifan', 'ligier', 'linhai', 'lintex', 'lml',
       'loncin', 'longjia', 'luxxon', 'macbor', 'magni', 'mahindra',
       'maico', 'malaguti', 'malanca', 'mash', 'matchless', 'mbk',
       'megelli', 'metisse', 'mgb', 'mh', 'mikilon', 'minsk', 'mitt',
       'mm', 'modenas', 'monark', 'mondial', 'montesa', 'monto motors',
       'moto guzzi', 'moto morini', 'moto union/omv', 'motobi',
       'motoczysz', 'motolevo', 'motom', 'motomel', 'motorhispania',
       'motorino', 'motors europe', 'mototrans', 'motowell', 'motus',
       'muz', 'mv agusta', 'mz', 'münch', 'ncr', 'neander', 'neco',
       'nembo', 'new hudson', 'nipponia', 'norton', 'nox', 'nsu',
       'ohvale', 'orcal', 'orion', 'ossa', 'over', 'pagsta', 'pannonia',
       'panther', 'paton', 'peraves', 'peugeot', 'pgo', 'piaggio',
       'pitster pro', 'polaris', 'polini', 'power chief',
       'prc (pro racing cycles)', 'puch', 'puma', 'qingqi', 'qjmotor',
       'qlink', 'qooder', 'quadro', 'ravi piaggio', 'raybar', 'red wing',
       'rewaco', 'rhino', 'ridley', 'riedel', 'rieju', 'road hopper',
       'rockford', 'roehr', 'rokon', 'romet', 'roxon', 'royal alloy',
       'rudge', 'sachs', 'samurai chopper', 'sanglas', 'saxon', 'schwinn',
       'scomadi', 'scorpa', 'senke', 'serpento', 'shanyang', 'sherco',
       'shineray', 'shinetime', 'silk', 'simplex', 'simson', 'sinnis',
       'skygo', 'skyteam', 'sommer', 'sonik', 'sparta', 'stels', 'sukida',
       'sunbeam', 'super gato', 'super motor', 'suzuki', 'suzuko', 'svm',
       'swift', 'swm', 'sym', 'tank sports', 'tao motor', 'tauris',
       'tayo', 'terra modena', 'tgb', 'tiger', 'titan', 'tm racing',
       'tomberlin', 'tomos', 'track', 'travertson', 'triton', 'triumph',
       'trs', 'tvs', 'ultra', 'um', 'ural', 'vahrenkamp', 'valenti',
       'van veen', 'vastro', 'veli', 'velocette', 'vent', 'vento',
       'vertemati', 'vertigo', 'vervemoto', 'vespa', 'viarelli',
       'vibgyor', 'victoria', 'victory', 'vincent', 'viper', 'vmoto',
       'voge', 'von dutch', 'vor', 'voskhod', 'voxan', 'vuka', 'vyrus',
       'wakan', 'werner', 'whizzer', 'wk', 'wsk', 'wt motors', 'xingfu',
       'xingyue', 'xispa', 'xmotos', 'yamaha', 'yangtze', 'yiben', 'yuki',
       'zanella', 'zero', 'zest', 'znen', 'zongshen', 'zontes',
       'zweirad-union', 'zündapp'], dtype=object)

In [25]:
df['Brand'].str.contains('nan', case=False, na=False).any()

False

# Model column

In [26]:
df['Model'].unique()

array(['ams 3.20 supercross', 'ams 4.30 supermoto efi',
       'ams 4.38 sm gear shift', ..., 'z 249', 'z 300', 'ams 8.57 lux lv'],
      dtype=object)

In [27]:
df['Brand'].str.contains('nan', case=False, na=False).any()

False

# Year column

In [28]:
df['Year'].unique()

array(['2016', '2021', '2018', '2020', '2022', '2009', '2011', '2010',
       '2014', '1957', '1958', '1955', '1956', '1952', '1953', '1954',
       '1959', '1960', '2007', '2019', '3019', '2008', '2012', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1971', '1972', '1970', '1974', '1962 CE', '1963 CE', '2005',
       '2015', '2018 CE', '2006', '1949', '1950', '1951', '2013', '2017',
       '1986', '1999', '1985', '1987', '1996', '1991', '1988', '1989',
       '1990', '1992', '2004', '2002', '1998', '1997', '1993', '2000',
       '2001', '1984', '1995', '2003', '1937', '1938', '1931', '1902',
       '1903', '1913', '1914', '1915', '1916', '1918', '1932', '1933',
       '1934', '1935', '1936', '1939', '1940', '1941', '1942', '1943',
       '1944', '1945', '1946', '1947', '1948', '1898', '1910', '1929',
       '1926', '1928', '1973', '1975', '1976', '1977', '1978', '1979',
       '1980', '1982', '1983', '1981', '1930', '1923', '1924', '1925',
       '1927', '1921', '1922', '1994', '1920', '1919', '1894', '1895',
       '1896', '1897', '1917', '1906', '1907', '1908', '1909', '1911',
       '1912', '1904', '1905', 1982, 1983, 1972, 1979, 1980, 1981, 1973,
       2021, 2022, 1968, 1991, 1992, 1995, 1997, 1998, 2013, 2014, 1999,
       2003, 1970, 2002, 2016, 2017, 2015, 2000, 2020, 2010, 2011, 2019,
       2009, 2008, 2007, 2012, 2006, 2018, 1974, 1975, 1987, 1988, 1989,
       1990, 1971, 1976, 1977, 1978, 2005, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1959, 1934, 1935,
       1936, 1937, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1964,
       1965, 1966, 1967, 1969, 1960, 1961, 1962, 1963, 2004, 1897, 1984,
       1985, 1986, 1993, 1996, 1994, 2001, 1925, 1926, 1927, 1928, 1933,
       1924, 1922, 1923, 1921, 1929], dtype=object)

In [29]:
df['Year'] = df['Year'].astype(str)

In [30]:
df['Year'] = df['Year'].str.replace(' CE', '', regex=False)

In [31]:
df['Year'].str.contains('nan', case=False, na=False).any()

False

In [32]:
df['Year'].isna().sum()

0

In [33]:
df['Year'].str.contains('nan', case=False, na=False)

6        False
7        False
8        False
9        False
10       False
         ...
38538    False
38539    False
38540    False
38541    False
38542    False
Name: Year, Length: 29818, dtype: bool

In [34]:
df['Year'] = df['Year'].astype(int)

In [35]:
df['Year'].dtypes

dtype('int32')

# Category column

In [36]:
df

,Brand,Model,Year,Category,Displacement (ccm),Engine cylinder,Engine stroke,Gearbox,Fuel capacity (lts),Fuel system,Cooling system,Transmission type
6,access,ams 3.20 supercross,2016,ATV,280.0,Single cylinder,four-stroke,Automatic,14.000000,Carburettor,Air,Chain
7,access,ams 4.30 supermoto efi,2016,ATV,359.3,Single cylinder,four-stroke,Automatic,14.000000,Injection. EFI,Air,Chain
8,access,ams 4.38 sm gear shift,2016,ATV,449.0,Single cylinder,four-stroke,5-speed,14.000000,Carburettor,Air,Chain
9,access,ams 4.38 sx gear shift,2016,ATV,449.0,Single cylinder,four-stroke,5-speed,14.000000,Carburettor,Air,Chain
10,access,ams 6.46 basic,2016,ATV,608.0,Single cylinder,four-stroke,Automatic,21.000000,Carburettor,Air,Chain
...,...,...,...,...,...,...,...,...,...,...,...,...
38538,azel,aries 50,2009,Scooter,50.0,Single cylinder,four-stroke,Automatic,13.275416,Carburettor,Air,Belt
38539,azel,aries 50,2010,Scooter,49.0,Single cylinder,four-stroke,Automatic,13.275416,Carburettor,Air,Chain
38540,azel,atila 125,2009,Enduro / offroad,125.0,Single cylinder,four-stroke,Automatic,13.275416,Carburettor,Air,Belt
38541,azel,atila 125,2010,Enduro / offroad,125.0,Single cylinder,four-stroke,6-speed,13.275416,Carburettor,Air,Chain
38542,azel,blackrose 250,2009,Custom / cruiser,248.0,V2,four-stroke,6-speed,13.275416,Carburettor,Air,Chain

In [37]:
df['Category'].unique()

array(['ATV', 'Scooter', 'Sport', 'Naked bike', 'Custom / cruiser',
       'Allround', 'Cross / motocross', 'Super motard', 'Minibike, sport',
       'Minibike, cross', 'Classic', 'Touring', 'Enduro / offroad',
       'Trial', 'Prototype / concept model', 'Unspecified category',
       'Sport touring', 'Speedway'], dtype=object)

In [38]:
df['Category'] = df['Category'].str.split('/').str[0]

In [39]:
df['Category'].unique()

array(['ATV', 'Scooter', 'Sport', 'Naked bike', 'Custom ', 'Allround',
       'Cross ', 'Super motard', 'Minibike, sport', 'Minibike, cross',
       'Classic', 'Touring', 'Enduro ', 'Trial', 'Prototype ',
       'Unspecified category', 'Sport touring', 'Speedway'], dtype=object)

In [40]:
df['Category'].str.contains('nan', case=False, na=False).any()

False

# Displacement (ccm) column

In [41]:
df['Displacement (ccm)'].unique()

array([280. , 359.3, 449. , ..., 312. , 791. , 751. ])

In [42]:
df['Displacement (ccm)'].value_counts()

125.0    1112
124.0    1006
249.0     970
49.0      821
998.0     397
         ...
238.0       1
487.2       1
652.3       1
902.0       1
819.0       1
Name: Displacement (ccm), Length: 1179, dtype: int64

In [43]:
df['Displacement (ccm)'] = df['Displacement (ccm)'].astype(float)

# Engine cylinder column

In [44]:
df['Engine cylinder'].unique()

array(['Single cylinder', 'Twin', 'V2', 'Four cylinder boxer', 'V4',
       'Diesel', 'Square four cylinder', 'In-line three', 'V8',
       'In-line four', 'In-line six', 'Two cylinder boxer', 'V6',
       'Single disk Wankel', 'Six cylinder boxer', 'V3',
       'Dual disk Wankel'], dtype=object)

In [45]:
df['Engine cylinder'].str.contains('nan', case=False, na=False).any()

False

# Engine stroke	 column

In [46]:
df['Engine stroke'].unique()

array([' four-stroke', ' two-stroke', 'Diesel', 'Square four cylinder',
       'Single disk Wankel', 'Dual disk Wankel'], dtype=object)

# Gearbox column

In [47]:
df['Gearbox'].unique()

array(['Automatic', '5-speed', '6-speed', '3-speed', '4-speed', '1-speed',
       '2-speed', '7-speed', '4-speed with reverse', '10-speed',
       '2-speed automatic', '5-speed with reverse', '3-speed automatic',
       '8-speed', '100-speed'], dtype=object)

In [48]:
df['Gearbox'] = df['Gearbox'].str.split('speed').str[0] + 'speed'

In [49]:
df['Gearbox'].unique()

array(['Automaticspeed', '5-speed', '6-speed', '3-speed', '4-speed',
       '1-speed', '2-speed', '7-speed', '10-speed', '8-speed',
       '100-speed'], dtype=object)

# Fuel capacity (lts) column

In [51]:
df['Fuel capacity (lts)'].unique()

array([14.        , 21.        , 13.27541585, 16.6       , 13.5       ,
       12.        , 13.        ,  6.        ,  7.        , 15.        ,
        3.75      ,  3.5       ,  6.2       ,  4.75      ,  5.5       ,
        8.        ,  5.        ,  7.3       ,  9.3       , 23.        ,
        3.4       ,  9.        , 24.        ,  2.        , 17.        ,
       18.        ,  6.5       ,  7.5       ,  9.5       , 10.        ,
        4.7       , 11.2       ,  6.3       , 19.        ,  7.2       ,
        8.5       , 12.5       , 16.        ,  4.5       ,  6.7       ,
        4.6       , 18.5       , 28.        ,  7.57      , 12.49      ,
       17.03      , 40.        , 13.24      , 18.92      , 22.        ,
       20.        , 10.5       , 25.        , 30.        ,  9.6       ,
        2.8       ,  7.7       , 11.        ,  7.4       , 11.5       ,
       19.5       , 14.5       , 12.2       ,  7.8       , 13.2       ,
        8.97      ,  7.6       , 15.5       , 18.8       ,  8.4       ,
        2.5       , 17.9       , 20.1       , 21.57      ,  8.71      ,
       12.86      , 16.3       , 16.28      , 21.5       , 21.6       ,
       24.6       ,  5.68      ,  5.7       , 12.11      , 22.71      ,
       22.7       ,  5.3       , 20.06      , 21.95      , 20.81      ,
       20.8       , 13.25      , 18.93      , 13.6       , 11.36      ,
       15.14      , 15.9       , 14.8       , 11.9       , 10.6       ,
        6.4       , 17.41      ,  9.84      ,  8.7       , 12.3       ,
       16.5       , 13.1       , 15.52      ,  8.6       ,  9.2       ,
        9.25      ,  9.7       ,  4.        ,  8.8       ,  3.        ,
        4.8       ,  6.8       , 27.        , 12.7       , 15.97      ,
       14.99      , 11.7       , 10.7       , 14.38      ,  2.2       ,
        1.89      ,  3.1       ,  9.46      ,  2.6       ,  3.2       ,
        4.2       ,  3.8       , 19.3       , 14.66      , 17.78      ,
       16.65      , 17.98      ,  6.06      ,  5.49      ,  4.92      ,
        4.73      ,  6.28      ,  1.        , 12.8       , 32.        ,
       17.5       , 17.3       , 10.98      , 20.5       , 26.5       ,
       23.84      , 26.        , 35.        , 22.1       , 20.4       ,
       25.2       , 33.        , 32.93      , 24.98      , 19.68      ,
       29.9       , 18.17      , 16.01      , 24.22      , 23.85      ,
       19.6       , 33.5       , 14.6       , 37.        , 38.        ,
       32.17      , 12.9       ,  3.3       , 21.19      , 10.59      ,
       14.45      , 18.9       , 15.8       , 15.2       , 15.17      ,
       19.98      , 11.35      ,  6.05      ,  2.7       , 20.44      ,
       26.98      , 13.4       ,  3.02      , 14.19      , 16.25      ,
       20.82      ,  5.8       ,  5.2       ,  8.3       ,  3.6       ,
        5.9       ,  7.1       , 16.8       , 14.9       , 11.6       ,
       14.7       , 13.3       ,  6.9       ,  2.3       ,  7.25      ,
        6.81      ,  2.84      ,  5.48      ,  8.13      ,  8.14      ,
       10.97      ,  4.3       , 12.6       , 18.3       , 12.4       ,
       11.4       ,  5.1       , 13.7       , 14.25      , 17.1       ,
        6.1       ,  1.5       ,  7.9       ,  2.9       ,  9.8       ,
        8.2       ,  5.98      ,  2.4       , 30.28      , 34.        ,
        5.6       ,  6.6       , 18.6       , 17.79      , 17.8       ,
       19.7       , 18.16      , 18.2       , 18.7       , 17.4       ,
       18.54      , 21.2       ,  6.62      ,  7.95      , 11.73      ,
       16.7       ,  8.32      , 10.3       , 12.1       , 15.3       ,
       11.1       , 14.76      , 24.8       , 18.77      ,  3.7       ,
       16.27      , 12.87      , 15.89      , 21.8       , 16.2       ,
       10.1       , 10.22      , 15.7       , 17.7       , 15.4       ,
       16.1       ,  9.1       ,  9.08      ,  5.29      ,  5.67      ,
        7.19      ,  4.31      ,  8.59      ,  2.64      ,  4.16      ,
        3.79      ,  8.52      ,  6.43      ,  8.33      ,  7.61      ,
        2.65      ,  4.1       , 14.1       , 24.1       ,  9.4       ,
       15.51      , 13.62      , 13.63      , 21.01      , 21.1       ,
       25.36      , 23.5       , 23.2       ,  4.99      ,  4.54      ,
        4.4       ,  3.41      ,  7.38      , 29.        , 11.17      ,
        3.9       , 29.14      , 14.3       , 10.21      , 16.4       ,
       26.4       , 18.55      ,  4.9       , 19.1       , 20.3       ,
       10.9       , 11.8       , 36.        , 24.5       , 10.2       ,
       10.18      ,  3.78      ,  8.1       ,  7.87      ,  4.69      ,
        7.34      , 14.2       , 17.94      , 28.5       , 20.43      ,
       28.38      ,  7.94      , 23.08      , 23.09      ,  6.09      ,
        6.21      , 21.7       , 13.9       , 10.8       , 14.98      ,
       11.3       , 13.8       , 28.01      ,  1.8       ,  2.1       ,
       25.5       , 48.        ,  7.49      , 12.98      ,  5.79      ,
        6.69      , 12.79      ,  6.74      , 19.4       ,  2.49      ,
        2.99      ,  3.48      ,  2.01      ,  6.02      , 12.25      ,
        3.25      , 22.5       , 17.18      , 17.2       , 17.97      ,
       20.7       , 20.66      ,  1.3       , 18.47      ,  5.4       ,
        7.75      ,  3.21      ,  3.53      ,  1.6       , 50.        ,
       47.        ,  5.75      ,  6.25      ,  8.75      ,  7.99      ,
       19.9       , 19.87      , 25.55      , 40.12      ,  6.51      ,
        6.32      , 10.26      , 22.3       , 45.        ,  8.9       ,
       10.4       ,  5.41      ,  3.97      ,  2.95      ,  2.75      ,
       11.25      , 12.07      , 22.48      ,  3.31      ,  2.83      ,
       22.33      ,  9.99      ,  9.75      ,  5.26      ,  4.06      ,
       15.36      , 16.16      , 16.08      ,  6.55      , 13.13      ,
        9.68      ,  0.5       ,  4.23      , 18.01      , 18.02      ,
        4.05      ,  1.9       ,  6.58      ,  3.03      , 11.92      ,
       19.2       ,  6.17      , 18.35      ])

# Fuel system column

In [52]:
df['Fuel system'].unique()

array(['Carburettor', 'Injection. EFI', 'Injection', ...,
       'Carburettor. Bing 20mm', 'Carburettor. Amal 22mm',
       'Carburettor. Bing 19mm (1/19/36)'], dtype=object)

In [53]:
df['Fuel system'] = df['Fuel system'].str.lower()

In [54]:
df['Fuel system'] = df['Fuel system'].str.split('.').str[0]

In [56]:
df['Fuel system'] = df['Fuel system'].replace({
    'injection efi': 'injection','Bing 19mm (1/19/36)' : 'Bing 19mm' , 'carburettor': 'carburetor'})

In [57]:
df['Fuel system'].unique()

array(['carburetor', 'injection', 'turbo'], dtype=object)

# Cooling system column

In [60]:
df['Cooling system'].unique()

array(['Air', 'Liquid', 'Liquids', 'the air', 'air', 'Oil & air',
       'Oil and air'], dtype=object)

In [61]:
df['Cooling system'] = df['Cooling system'].str.lower()

In [62]:
df['Cooling system'] = df['Cooling system'].replace({
    'the air': 'air',
    'liquids': 'liquid',
    'oil and air': 'oil & air'})

In [63]:
df['Cooling system'].unique()

array(['air', 'liquid', 'oil & air'], dtype=object)

# Transmission type  column

In [64]:
df['Transmission type'].unique()

array(['Chain', 'Belt', 'Shaft drive'], dtype=object)